In [1]:
name = 'Ariel Wang'
message = 'Hello to '+ name +', would you like to learn some Python today?'
print(message)

Hello to Ariel Wang, would you like to learn some Python today?

In [2]:
name = 'ariel wang'
name.title()

'Ariel Wang'

In [3]:
name.upper()

'ARIEL WANG'

In [4]:
name.lower()

'ariel wang'

In [7]:
name = 'hyler dion'
dictum = "Don't judge each day by the harvest you reap, but by the seeds you plant."
message = name.title() + ' once said, "' + dictum + '"'
print(message)

Hyler Dion once said, "Don't judge each day by the harvest you reap, but by the seeds you plant."

In [21]:
name.strip()

'robert \n hellol'

In [26]:
name = '\n robert \n hellol'

In [16]:
name

'   robert \n hellol'

In [27]:
print(name)

 robert
 hellol

In [28]:
print(name.strip())

robert
 hellol

In [30]:
name = ['ariel','frank','dan','benny']
name.pop()

'benny'

In [31]:
name

['ariel', 'frank', 'dan']

In [32]:
name[-1]

'dan'

In [36]:
sorted(name, reverse = True)

['frank', 'dan', 'ariel']

In [38]:
ages = []
for age in range(0,9,3):
    age_sqr = age*4
    ages.append(age_sqr)
print(ages)

[0, 12, 24]

In [39]:
ages = [age*3 for age in range(0,12,3)]
ages

[0, 9, 18, 27]

In [40]:
types = [age*3 for age in ages]

In [41]:
types

[0, 27, 54, 81]

In [42]:
cool = ages*3
cool

[0, 9, 18, 27, 0, 9, 18, 27, 0, 9, 18, 27]

In [43]:
types + ages

[0, 27, 54, 81, 0, 9, 18, 27]

In [44]:
lt = range(1,100)
sum(lt)

4950

In [45]:
max(lt)

99

In [46]:
min(lt)

1

In [47]:
lt = range(1,101)
sum(lt)

5050

In [48]:
len(lt)

100

In [50]:
lt = range(1,20,2)
for number in lt:
    print(number)

1
3
5
7
9
11
13
15
17
19

In [54]:
lt = [number**3 for number in range(1,11)]

In [55]:
lt"

SyntaxError: EOL while scanning string literal (<ipython-input-55-f80065b56278>, line 1)

In [57]:
len(lt)

10

In [58]:
lf = lt

In [59]:
lf

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [67]:
lf = lt[:]

In [68]:
lf

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 4]

In [69]:
abc = ('fine','over')

In [70]:
abc

('fine', 'over')

In [76]:
users = ['Ariel','thomas','frank','wensi','bin']
new_users = ['claire','chuck','ariel','ArIeL']
for user in new_users:
    if user in users or user.lower() in users or user.title() in users:
        print("sorry, the name has been used")
    else:
        print("success")

success
success
sorry, the name has been used
sorry, the name has been used

In [77]:
numbers = range(1,10)
for number in numbers:
    if number == 1:
        suffix = 'st'
    elif number == 2:
        suffix = 'nd'
    elif number == 3:
        suffix = 'rd'
    else:
        suffix = 'th'
    print(str(number)+suffix)

1st
2nd
3rd
4th
5th
6th
7th
8th
9th

In [80]:
cww = {
    'first_name': 'cao',
    'last_name' : 'bin',
    'age' : '32',
    'city': 'beijing',
      }
print(cww)

{'first_name': 'cao', 'last_name': 'bin', 'age': '32', 'city': 'beijing'}

In [83]:
for key, value in cww.items():
    print("\nKey: " + key.title())
    print("Value: " + value.title())

Key: First_Name
Value: Cao

Key: Last_Name
Value: Bin

Key: Age
Value: 32

Key: City
Value: Beijing

In [101]:
pets = ['cat','dog','cat','dog','cat','dog']
pets.remove('cat')

In [103]:
sorted(pets).remove('cat')

In [104]:
pets

['dog', 'cat', 'dog', 'cat', 'dog']

In [105]:
def display_message(message):
    print("this section we are going to learn "+ message + ". are you ready?")

display_message('function')

this section we are going to learn function. are you ready?

In [107]:
def make_shirt(size, para = 'i love python'):
    print("\nmy shirt size is: " + size)
    print("\nshow the phrases: " + para.title())

make_shirt('5', 'i love pizza.')

my shirt size is: 5

show the phrases: I Love Pizza.

In [108]:
make_shirt('5')

my shirt size is: 5

show the phrases: I Love Python

In [109]:
make_shirt('9')

my shirt size is: 9

show the phrases: I Love Python

In [110]:
def get_name(first, last):
    full = first+' '+last
    return full
get_name('ariel','wang')

'ariel wang'

In [115]:
def make_album(singer, album_name, number=''):
    album = {'singer': singer, 'name':album_name}
    if number:
        album['songs'] = number
    return album

make_album('lady gaga', 'paparazi',6)

{'singer': 'lady gaga', 'name': 'paparazi', 'songs': 6}

In [120]:
def wtf(*singers):
    print('all singers will come, including ')
    for singer in singers:
        print(singer+', ')

wtf('ariel','thomas')

all singers will come, including
ariel,
thomas,

In [124]:
def wtf(name, age, **build_profile):
    profile = {}
    profile['name'] = name
    profile['age'] = age
    for key, value in build_profile.items():
        profile[key] = value
    return profile

wtf('ariel',18, location='auckland', license='none')

{'name': 'ariel', 'age': 18, 'location': 'auckland', 'license': 'none'}

In [137]:
class Restaurant():
    """a little test"""
    def __init__(self, restaurant_name, cuisine_type):
        self.name = restaurant_name
        self.type = cuisine_type
        self.number_served = 0
    def describe_restaurant(self):
        print(self.name.title() + 'is a ' + self.type + ' restaurant.' )
    def open_restaurant(self):
        print(self.name.title() + ' opens only on Friday.')
    def set_number_served(self, number_served):
        self.number_served = number_served
    def increment_number_served(self, increment):
        self.number_served += increment

wolaichi = Restaurant('wolaichi', 'chinese')

In [127]:
wolaichi.open_restaurant()

Wolaichi opens only on Friday.

In [128]:
wolaichi.describe_restaurant()

Wolaichiis a chinese restaurant.

In [130]:
dalongyi = Restaurant('dalongyi','chinese')

In [131]:
dalongyi.describe_restaurant()

Dalongyiis a chinese restaurant.

In [143]:
print(wolaichi.number_served)

12

In [142]:
wolaichi.increment_number_served(1)